/* General Styling */

body {
  font-family: 'Times New Roman', serif;
  font-size: 20px;
  margin: 0;
  padding: 0;
}

p {
  margin: 30px 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1 {
  font-size: 80px;
}

#post-header h1 {
  font-size: 50px;
}

a:hover,
a:focus {
  color: lightblue;
}

main {
  margin: 80px auto;
  width: 50%;
}

/* Navigation */

.navbar-brand {
  font-size: 25px;
  padding: 11px 13px;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav li a {
  text-align: center;
  padding: 14px 16px;
}

nav li a:hover, .active {
  background-color: aquamarine;
  color: white;
}

/* Header */

header {
  color: white;
  font-size: 20px;
  padding: 100px 0;
  text-align: center;
  background-position: center; /* Center the background image */
  background-repeat: no-repeat; /* Do not repeat the background image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

#home-header {
  background-image: url('../../img/home-bg.jpg');
}

#about-header {
  background-image: url('../../img/about-bg.jpg');
}

#post-header {
  background-image: url('../../img/post-bg.jpg');
}

#contact-header {
  background-image: url('../../img/contact-bg.jpg');
}

#post-header h1, #post-header h2, #post-header span {
  width: 40%;
  text-align: left;
  margin: 15px auto;
}

/* Table */

table {
  margin: 0 auto;
}

table, th, td {
  border: 1px solid black;
  font-family: Arial, sans-serif;
  text-align: center;
}

tbody th {
  text-align: right;
}

/* Form */

form section {
  margin: 20px 0;
}

form p {
  margin: 0;
}

form textarea {
  margin: 5px 0;
}

form .submit input {
  height: 30px;
  width: 80px;
  margin: 40px auto;
}

/* Footer */

footer {
  text-align: center;
}

footer ul {
  margin: 30px;
  padding: 0;
}

footer li {
  margin: 0 auto;
}

footer li a {
  text-align: center;
  padding: 14px 16px;
}

footer li a:hover {
  background-color: aquamarine;
  color: white;
}

footer p {
  font-size: 17px;
}
